<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<a href="/index">Cancle</a>
<h1>Write  Your Diary</h1>
<form action="" method="post" name="write">
    {{form.hidden_tag()}}
    <table  align="center">
        <tr>
            <td>Title:</td>
            <td>{{form.titlename(size = 100)}}</td>
        </tr>
        <tr>
            <td>Content:</td>
            <td>{{form.content(cols = 100, rows = 30)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Commit"></td>
        </tr>
    </table>
</form>
{% endblock %}
